# fly.toml app configuration file generated for pulseguard-fragrant-paper-4573 on 2026-02-01T15:17:32+01:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'pulseguard-fragrant-paper-4573'
primary_region = 'ams'

[build]
  dockerfile = 'Dockerfile'

[env]
  NODE_ENV = 'production'
  PORT = '3001'

[[mounts]]
  source = 'pulseguard_data'
  destination = '/app/prisma/prisma'

[http_service]
  internal_port = 3001
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

[[vm]]
  memory = '512mb'
  cpus = 1
  memory_mb = 512
